<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="SqlConnectionString" value="" />
    <add key="OpenAIUrl" value="https://api.openai.com/v1/responses" />
    <add key="OpenAIModel" value="gpt-5-mini" />
    <add key="MaxRows" value="200" />
    <add key="CommandTimeoutSeconds" value="30" />
  </appSettings>
  <system.web>
    <compilation debug="false" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" executionTimeout="300" maxRequestLength="4096" />
    <pages controlRenderingCompatibilityVersion="4.0" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" />
    <sessionState mode="InProc" cookieless="UseCookies" timeout="60" />
  </system.web>
  <system.webServer>
    <defaultDocument enabled="true">
      <files><clear /><add value="Login.aspx" /></files>
    </defaultDocument>
  </system.webServer>
</configuration>
