<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="OpenAIUrl" value="https://api.openai.com/v1/responses" />
    <add key="OpenAIModel" value="gpt-5-mini" />
    <add key="OpenAIAllowModelFallback" value="true" />
    <add key="OpenAIModelFallbacks" value="gpt-5-mini,gpt-4o-mini" />
    <add key="OpenAIModelCacheMinutes" value="5" />
    <add key="OpenAIQuotaCooldownMinutes" value="15" />
    <add key="MaxRows" value="200" />
    <add key="CommandTimeoutSeconds" value="30" />
    <add key="AdminEmails" value="" />
    <add key="OpenAIInputPricePer1M" value="-1" />
    <add key="OpenAICachedInputPricePer1M" value="-1" />
    <add key="OpenAIOutputPricePer1M" value="-1" />
    <add key="TelemetryMaxRecords" value="5000" />
    <add key="TelemetryAutoCreateSchema" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="false" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" executionTimeout="300" maxRequestLength="4096" />
    <pages controlRenderingCompatibilityVersion="4.0" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" />
    <sessionState mode="InProc" timeout="120" />
    <customErrors mode="RemoteOnly" />
  </system.web>
  <system.webServer>
    <defaultDocument enabled="true"><files><clear /><add value="Login.aspx" /><add value="Default.aspx" /></files></defaultDocument>
    <httpProtocol><customHeaders><add name="X-Content-Type-Options" value="nosniff" /><add name="Referrer-Policy" value="strict-origin-when-cross-origin" /></customHeaders></httpProtocol>
  </system.webServer>
</configuration>
